.news {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.newsImg {
    max-width: 60%;
    height: 60%;
}
  
.newsTitle {
    color: white;
    font-size: 1.6rem;
    max-width: 60%;
}
  
.newsText {
    max-width: 59%;
    color: white;
    font-size: 1.1rem;
    text-align: justify;
}