.articlescard {
    display: flex;
    padding-top: 0.5rem;
}

.articlesImg {
    width: 272px;
    height: 140px;
    padding-right: 0.5rem;
    cursor: pointer;
}

.articlesTitle {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0;
}

.articlesText {
    color: white;
    font-size: 0.9rem;
    width: 75%;
}

.articlescenterbutton {
    display: flex;
    justify-content: center;
}

.articlesButton {
    background-color: transparent;
    color: white;
    margin: 1%;
    border: none;
}

@media (max-width: 700px) {
    .articlesText {
        display: none;
    }
    .articlesButton {
        font-size: 1rem
    }
    .articlesTitle {
        font-size: 1.2rem
    }
}