.videoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    position: relative;
    margin-top: 10px;
}

.video {
    width: 23%;
}

.videoTitle {
    font-size: 1.1rem;
    text-align: center;
    display: flex;
}

.whiteText {
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

.whiteText:hover {
    color: #e2e1e1;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 32%;
}

@media (max-width: 600px) {
    .videoContainer {
        display: flex;
        justify-content: center;
    }

    .video {
        width: 48%;
    }

    .button {
        position: static;
        margin-top: 10px;
        align-self: flex-end;
        margin-bottom: 10px;
        display: flex;
        font-size: 1.1rem;
    }
}