.actor {
    display: flex;
}

.actor:hover {
    box-shadow: 14px 0px 81px -43px rgba(26, 107, 163, 0.94);
    background-color: #243c58;
    border: 1px solid #19283b;
    border-radius: 5px;
}

.actor:first-child {
    margin-top: 10px;
}

.actorBody {
    margin-left: 10px;
}

.actorImg {
    width: 100%;
    height: 180px;
    max-width: 140px;
    object-fit: cover;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

.actorTitle {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    padding-top: 10px;
}

.actorButtonDelete {
    background-color: transparent;
    color: white;
    font-family: NewsreaderM;
    font-size: 1.3rem;
    border: none;
    transition: .3s ease;
    padding:0;
}

.actorButtonDelete:hover{
    color:red;
}